name: Metrics
on:
  # Schedule daily updates (at midnight)
  schedule: [{cron: "0 0 * * *"}]
  # (Optional) Run workflow manually
  workflow_dispatch:
  # (Optional) Run on every push on the master branch
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Hardanish-Singh
          template: classic
          base: header, activity, community, repositories, metadata
          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_types: commit
          config_timezone: America/Toronto
