name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Hardanish-Singh
          template: classic
          
          # FIX 1: "large" creates the side-by-side layout you want
          config_display: large
          
          # We only want the activity graph, no big header
          base: activity
          
          # FIX 2: We must tell it to look back 5 years (1800 days)
          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_types: commit
          plugin_notable_indepth: yes
          plugin_notable_days: 1800 
          
          config_timezone: America/Toronto
