name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Hardanish-Singh
          template: classic
          
          # "large" creates the side-by-side layout (Radar on right, Notable on left)
          config_display: large
          
          # We only want the activity graph, no big header
          base: activity
          
          # Fix for "No recent contributions found"
          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_types: commit
          plugin_notable_indepth: yes
          plugin_notable_days: 3000 # Look back 8 years to find your Apache work
          
          config_timezone: America/Toronto
